html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://media2.fdncms.com/stranger/imager/u/original/25728579/pnb.jpg"
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{ 
    display:flex;
}

.thumbnail {
    
}